.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #e90909;
  background-color:#0ae259;
    
    animation: shake 1s;

 
  animation-iteration-count: infinite;
}

.my-float{
	margin-top:16px;
}


/*contenedor noticias*/
.contenedor-noticias{
   
    display: flex;
    justify-content: center;
    
   
}

.imgen1{

    width: 350px;
    height: 250px;
    

}

. p{
  font-size: 3rem;
  color: #e90909;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.imgen2{

  width: 350px;
  height: 250px;
  

}.imgen3{

  width: 350px;
  height: 250px;
  

}



/*slideer*/
.slider{
    
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    overflow: hidden;
  }
  .slider ul{
      display: flex;
      animation: cambio 20s infinite alternate linear;
      width: 400%;
  }
  .slider li{
      width: 100%;
      list-style: none;
  }
  .slider img{
      width: 100%;
      height: 100%;
  }
  @keyframes cambio{
      0%{margin-left: 0;}
      20%{margin-left: 0;}
      
      25%{margin-left: -100%;}
      45%{margin-left: -100%;}
      
      50%{margin-left: -200%;}
      70%{margin-left: -200%;}
      
      75%{margin-left: -300%;}
      100%{margin-left: -300%;}
  }
  @media only screen and (min-width:320px) and (max-width:768px){
  .slider, .slider ul, .slider img{
      height: 100vh;
  }



  

@media screen and (max-width:900px){
    header{
        background-position: center;
    }
